<IfModule mod_geoip.c>
    GeoIPEnable On
    GeoIPDBFile /home/ppiddjal/public_html/products_/GeoLite2-City.mmdb

    # Block access from countries other than Indonesia (ID)
    SetEnvIf GEOIP_COUNTRY_CODE ID AllowCountry
    Deny from all
    Allow from env=AllowCountry
</IfModule>
